<header>
   <div class="nav-container" >
       <div class="logo" >
        <h2><a href="#">logo</a></h2> 
       </div>
       <div class="nav-menu" >
           <ul>
               <li><a href="#">home</a></li>
               <li><a href="/auth/register">Sign Up</a></li>
               <li><a href="#">contact</a></li>
           </ul>
       </div>
 <form class="form-inline">
      <input class="form-control input-serch" type="search" placeholder="Search">
      <button class="btn-search" type="submit">Search</button>
    </form>

   </div>
</header>