<div class="register "  style="margin: 100px 200px;">
    <form action="/auth/register" method="POST" >
        <div class="form-group">
            <input type="text" class="form-control"  style="width: 300px;" name="name" placeholder="Name">

        </div>

        <div class="form-group">
            <input type="email" class="form-control" style="width: 300px;"  name="email" placeholder="email">

        </div>

        <div class="form-group">
            <input type="password" class="form-control" style="width: 300px;" name="password" placeholder="password">


        </div>

        <button class="btn btn-primary">Sign Up</button>




    </form>
</div>